.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row; /* Align children side by side */
}

.searchResultsContainer {
  display: flex;
  flex-direction: row; /* Align TrademarkDetails and the column of other components side by side */
  gap: 20px; /* Space between TrademarkDetails and the right column */
}

.align {
  display: flex;
  flex-direction: row; /* Align children side by side */
  /* justify-content: space-around; Ensure space between the left and right columns */
  align-items: flex-start; /* Align items at the top */
}

.trademarkDetailsContainer {
  flex: 1; /* Allows TrademarkDetails to take up remaining space on the left */
}

.rightColumn {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left in the column */
  gap: 20px; /* Space between vertically stacked items */
}

